@media all and (max-width: 768px) {
    
    * {
        margin: 0px;
    }

    #header, #footer {
        height: 50px;
        width: auto;
        background-color: red;
        color: white;
        font-size: 30px;
        display: flex;
        align-items: center; 
        justify-content: center;
    }

    #center {
        margin: 0; 
    }

    #footer {
        background-color: violet;
        padding: 10px;
    }

    #aside-left, #aside-right, #lorem {
        height: 350px;
        background-color: green;
        color: white;
        font-size: 30px;
        text-align: center;
    }

    #aside-right {
        background-color: pink;
    }

    #lorem {
        background-color: lightblue;
        text-transform: uppercase;
    }
}