    * {
        margin: 0px;
    }

    #header, #footer {
        height: 50px;
        width: auto;
        background-color: red;
        color: white;
        font-size: 30px;
        display: flex;
        align-items: center; 
        justify-content: center;
    }

    #center {
        margin: 0; 
    }

    #footer {
        background-color: violet;
        padding: 10px;
    }

    #aside-left, #aside-right, #lorem {
        height: 350px;
        background-color: green;
        color: white;
        font-size: 30px;
        text-align: center;
    }

    #aside-right {
        background-color: pink;
    }

    #lorem {
        background-color: lightblue;
        text-transform: uppercase;
    }

    @media all and (min-width: 768px) {
        #container {
            display: flex;
            flex-flow: row wrap; 
        }
        
        #container > * {
            flex: 1 100%;
        }
 
        #lorem, #aside-right {
            flex: 1 auto;
        }

        #lorem {
            flex: 10 0px;
        }

         #aside-left {
             order: 3;
         }
         #lorem {
             order: 1;
         }
         #aside-right {
             order: 2;
         }
         #footer {
             order:4;
         }
    }

    @media all and (min-width: 992px) {
       #container {
           display: flex;
           flex-flow: row wrap; 
       }
       
       #container > * {
           flex: 1 100%;
       }

       #aside-left, #aside-right, #lorem {
           flex: 1 auto;
       }

       #lorem {
           flex: 10 0px;
        }
        #aside-left {
            order: 1;
        }
        #lorem {
            order: 2;
        }
        #aside-right {
            order: 3;
        }
        #footer {
            order:4;
        }
    }




