#strawberry {
    float: left;
    width: 100px;
    height: 100px;
}

#strawberrytwo {
    float: right;
    width: 100px;
    height: 100px;
}

#strawberry {
    float: none;
}

p:last-child {
    background-color: yellow; 
    clear: both;
}