* {
    box-sizing: border-box;
}

#gallery {
    font-size: 0;
    width: 95%;
}

figure {
    width: 33%;
}

@media all and (max-width: 992px) {
    figure {
        width: 50%;
    }
}

@media all and (max-width: 768px) {
    figure {
            width: 100%;
        }
}

@media all and (max-width: 480px) {
    figure {
        width: 100%;
    }
}