html,body {
    background-color: #213b50;
    color: #ffffff;
    padding: 0;
    margin: 0;
}

form {
    background-color: #213b50;
    width: 46%;
    padding: 2%;
}

input [type="text"],
input [type="email"],
input [type="tel"],textarea, select {
    border: 1px solid #213b50;
    background-color: #2b4a64;
    display: block;  
    width: 50%;
}

input,textarea,select {
    background-color: #2b4a64;
    border: 1px solid #213b50;
    padding: 4px;
    color: #ffffff;
}

label {
    display: block;
}

label[for=male],
label[for=female]
label[for=agreement] {
    display: inline-block;
}

textarea {
height: 120px;
}

select {
    background: #2b4a64;
    color: #ffffff;
    padding: 4px;
    display: block;
    width: 50%;
}

input:focus, 
textarea:focus, 
select:focus {
    border-color: #ffffff;
    background-color:#4e708c;
}

input[type=submit] {
    display: inline-block;
    margin-top: 10px;
    background-color: green;
    border: 0;
    padding: 10px 30px;
}